{%extends 'base.html'%}
{%load static%}

{%block estiloCss%}
<link rel="stylesheet" href="{%static 'css/padrao.css'%}">
{%endblock%}

{%block titulo%} 
Editar Veterinario
{%endblock%}

{%block conteudo%}
<div class="cont">
    <h1>EDITAR VETERINARIO</h1>

     <form method="POST">
        {% csrf_token %}
        <div>
            <label>NOME</label>
            {{formulario.nome}}
        </div>

        <div>
            <label>TELEFONE</label>
            {{formulario.telefone}}
        </div>

        <div>
            <label >ESPECIALIDADE</label>
            {{formulario.especialidade}}
        </div>
         <div>
            <label>CLINICA</label>
            {{formulario.idClinica}}
        </div>
        <button type="submit">SALVAR</button>
    </form>
</div>


{%endblock%}
