{%extends 'base.html'%}
{%load static %}

{%block estiloCss%}
<link rel="stylesheet" href="{%static 'css/padrao.css'%}">
{%endblock%}
{%block titulo%}
Veterinario
{%endblock%}

{%block conteudo%}
<div>
    <h1>Veterinarios cadastrados</h1>
    <table>
        <thead>
            <tr>
            <th>Nome</th>
            <th>Especialidade</th>
            <th>Telefone</th>
            <th>Clinica</th>
            <th>ações</th>
           
        </thead>

        <tbody>
            {%for veterinario in veterinarios%}
            <tr>
            <td>{{ veterinario.nome }}</td>
            <td>{{ veterinario.especialidade }}</td>
            <td>{{ veterinario.telefone }}</td>
             <td>{{ veterinario.idClinica }}</td>
            <td>
                <a class="btnA" href="{% url 'editarVeterinario' veterinario.id %}">EDITAR</a>
                <a class="btnA" href="{% url 'excluirVeterinario' veterinario.id %}">EXCLUIR</a>
            </td>
        </tr>
            {%empty%}
            <tr colspan = "4">Nenhum veterinario cadastrado no sistema</tr>
            {%endfor%}
        </tbody>
    </table>

    <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
    {%if veterinarios.number == 1%}
    {# Primeira / Anterior #}
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo; Primeira &#40 {{veterinarios.number}} &#41 </a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#">Anterior</a>
      </li>
      {% else %}
        {# Primeira / Anterior #}
         <li class="page-item">
        <a class="page-link" href="{% url 'veterinario' %}?pc=1">&laquo; Primeira &#40 1 &#41 </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{% url 'veterinario' %}?pc={{veterinarios.previous_page_number}}">Anterior &#40 {{veterinarios.previous_page_number}} &#41</a>
      </li>

      {% endif %}


    {# página atual (apenas exibindo o número, igual ao seu exemplo) #}
      <li class="page-item disabled">
        <a class="page-link" href="">{{veterinarios.number}}</a>
      </li>

      {%if veterinarios.paginator.num_pages == veterinarios.number%}
    {# Próxima / Última #}
      <li class="page-item disabled">
        <a class="page-link" href="#">Próxima </a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#">Última &#40 {{veterinarios.paginator.num_pages}} &#41&raquo;</a>
      </li>
    {%else%}
     <li class="page-item">
        <a class="page-link" href="{% url 'veterinario' %}?pc={{veterinarios.next_page_number}}">Próxima &#40 {{ veterinarios.next_page_number}}&#41</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{%url 'veterinario'%}?pc={{veterinarios.paginator.num_pages}}">Última &#40 {{veterinarios.paginator.num_pages}} &#41 &raquo;</a>
      </li>

      {%endif%}
    </ul>
    </nav>

    <hr>

    <h1>cadastro de veterinario</h1>
    <form method="POST">
        {% csrf_token %}
        {{formulario.as_p}}
        <button type="submit">SALVAR</button>
    </form>
</div>
{% endblock %}