{% extends 'base.html' %}
{% load static %}

{% block estiloCss %}
<link rel="stylesheet" href="{% static 'css/padrao.css' %}">
{% endblock %}

{% block titulo %}
Excluir Serviço
{% endblock %}

{% block conteudo %}
<div class="cont">
    <h1><strong>EXCLUIR SERVIÇO</strong></h1>
    
    <p>Deseja realmente excluir o serviço <strong>ID {{ servico.id }}</strong>?</p>
    <div>
        <p><strong>TIPO:</strong> {{ servico.tipo }}</p>
        <p><strong>DESCRIÇÃO:</strong> {{ servico.descricao }}</p>
        <p><strong>VALOR:</strong> {{ servico.valor }}</p>
    </div>

    <form method="POST">
        {% csrf_token %}
        <button type="submit">Confirmar Exclusão</button>
        <a class="btnA" href="{% url 'servico' %}">Cancelar</a>
    </form>
</div>
{% endblock %}
